@import "../variables/variables.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: bold;
}

button {
	border-radius: 10rem;
	border: none;
	cursor: pointer;
	font-size: 2.4rem;
	font-weight: bold;
	padding: 1rem;
}
