@import "../variables/variables.scss";

.game-grid {
	display: grid;

	.grid-tile {
		border: none;
		border-radius: 100%;
		line-height: 0;
		cursor: pointer;
		color: #FCFCFC;
		font-weight: 700;
		transition: all 185ms ease-in-out;

		svg {
			fill: #FCFCFC;
			height: 70%;
			width: 70%;
		}

		&.blue-tile {
			background-color: $primary-blue;
		}

		&.orange-tile {
			background-color: $primary-orange;
		}

		&.gray-tile {
			background-color: $primary-gray;
		}
	}
}

.four-tiles-column {
	grid-template-columns: repeat(4, 11.8rem);
	gap: 2rem;

	.grid-tile {
		height: 11.8rem;
		font-size: 5.6rem;
	}
}

.six-tiles-column {
	grid-template-columns: repeat(6, 8rem);
	gap: 1rem;

	.grid-tile {
		height: 8rem;
	}
}
