$dark-blue: #152938;

$primary-blue: #304859;
$primary-gray: #BCCED9;
$primary-white: #FCFCFC;
$primary-orange: #FDA214;

$hover-blue: #6395B8;
$hover-orange: #FFB84A;

$secondary-blue: #7191A5;
$secondary-gray: #DFE7EC;
