@import "../variables/variables.scss";
@import "../mixins/mixins.scss";

.startup-screen {
	background-color: $dark-blue;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4rem 4rem 8rem;
	position: relative;

	.credit {
		color: $primary-white;

		a:link, a:visited {
			color: $primary-orange;
		}
	}

	@include respond(500px) {
		padding: 3rem 3rem 8rem;
	}
}

.game-config-tab {
	background-color: $primary-white;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 3.2rem;
	padding: 5.6rem;
	width: 60rem;

	@include respond(500px) {
		width: calc(100vw - 6rem);
	}

	@include respond(400px) {
		padding: 4rem;
	}
}

.option-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&.two-options {
		.option-selector {
			flex-basis: calc(50% - 1.5rem);

			@include respond(400px) {
				flex-basis: calc(50% - 1rem);
			}
		}
	}

	&.four-options {
		.option-selector {
			flex-basis: calc(25% - 1.5rem);

			@include respond(400px) {
				flex-basis: calc(25% - 1rem);
			}
		}
	}

	.group-title {
		color: $secondary-blue;
		font-size: 2rem;
		flex-basis: 100%;
		margin-bottom: 1.6rem;
	}

	.option-selector {
		button {
			background-color: $primary-gray;
			color: $primary-white;
			width: 100%;
		}
	}

	input:checked + .option-button {
		background-color: $primary-blue;
	}
}

.start-game-button {
	padding: 1.6rem;
}